@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Lato&display=swap');

* {
  
}
body{
  background-color: #000000;
  height:60%;
  
  
}

.btn{
  display: block;
  width: 55%;
  height: 1em;
  border: none;
  background-color: #FDE100;
  font-size: 42px;
  cursor: pointer;
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  border-radius: 12px;
  align-self: center;
  
}
.img{
  width: 55%;
  
  border-radius: 25px;
  margin-top: -10%;
}

.container {
  position: absolute;
  width: 1024px;
  height: 30em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  box-sizing: border-box;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  text-align: center;
  padding-top: 5%;
}

.title {
  position: relative;

  color: rgb(255, 255, 255);
  font-size: 3.3em;
  border-radius: 5px;
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  width: 55%;
  height:10%;
  
  
  
}

.question {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 5px;
  font-family: 'Lato', sans-serif;
  color: #ffffff;
  align-self: center;
  font-family: 'Bebas Neue', cursive;
  margin-top: 5%;
}

.questionBox {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  background-color: #303030;
  text-align: center;
  width: 75%;
  height: 25em;
  margin-left: 12.5%;
  border-radius: 5px;
  margin-top: 3%;
  padding-top: 5%;
  
}
.menuCon{
  padding-top: -5%;
  margin-left: 30%;
  align-self: center;
}
.answerBtn {
  position: relative;
  padding: 1px;
  background-color: #FDE100;
  display: inline-block;
  
  outline: none;
  border: none;
  font-size: 1.5em;
  color: #303030;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  width: 75%;
  margin-bottom: 2%;
  font-family: 'Lato';
}

.score-board {
  position: relative;
  height: 700px;

  margin-left: 20%;
  color: #FDE100;
  font-family: 'Bebas Neue', cursive;
  width: 75%;
}

.score {
  
  text-align: left;
  font-size: 3em;
  top: 250px;
  width: auto;

  color: #FDE100;
  font-family: 'Bebas Neue', cursive;
  margin-left: 5.5em;
  white-space: nowrap;
  

}

.playBtn {
  position: absolute;
  font-size: 1.5em;
  

  background-color: rgb(46, 182, 46);
  color: rgb(255, 255, 255);
  width: auto;
  left: 14em;
  border-color: gainsboro;
  margin: auto;
  outline: none;
  cursor: pointer;
 
  
}
.missedQuestionList{
  font-size: 1.5em;
  list-style-type: none;
  margin-left: 4em;
  
  width: 26em;
  white-space: nowrap;
}
.qHeader{
  margin-left: 6em;
  font-size: 2em;
  color: #fffffe;
  white-space: nowrap;
}


